# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables / API keys
.env

# Machine learning model files
artifacts/similarity.pkl
*.joblib

# Dataset files (optional if large)
*.csv
*.zip

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Temporary files
*.tmp